saves/
backups/
crash-reports/
logs/
downloads/
screenshots/
Distant_Horizons_server_data/
mod_data/
modernfix/


**/*.
/*.dat
/*.dat_old
/*.nbt
*.disabled
/usercache.json
/usernamecache.json
/fabricloader.log
/.qmenu_opened.marker
/.curseclient
/*.log
hs_err_pid*.log
